.card {
  background: #f5f5f5;
  border-radius: 4px;
  display: grid;
  grid-template-areas:
    "first first second"
    "third third second";
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  height: 600px;
  overflow: hidden;
}

.card:first-child {
  grid-area: first;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card:first-child::after {
  content: "";
  width: 44px;
  height: 44px;
  background-image: url("../../../../../assets/imgs/left-union.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 45%;
  right: -15px;
  z-index: 93827591275984375983175098;
}

.card:nth-child(3) {
  width: 100%;
  grid-area: third;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row-reverse;

  justify-content: space-between;
}

.card:nth-child(2) .col {
  margin-bottom: 105px;
}

.card:nth-child(2) {
  height: auto;
  grid-area: second;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  width: 100%;
  padding: 24px;
  text-align: left;
}

.img {
  width: 540px;
  height: 600px;
  border-radius: 5px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #000;
  margin-bottom: 12px;
  font-family: "Inter";
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #525252;
  margin-bottom: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
