@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.footer{
    background-color: #272727;
    max-width: 100%;
    height: 700px;
    position: relative;
}
.text_input_button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 80px 10px 60px;
}
.text_news{
    font-family: 'Roboto';
    color: white;
}
.input_button{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.input_email{
    border: 1px solid lightgrey;
    transition: all 400ms linear;
    cursor: text;
    padding: 10px 100px;
    height: 6vh;    
    color: white;
    border-radius: 5px;
    background-color: transparent;
    text-align: center  ;
    font-size: 20px;
    font-family: 'Roboto';
}   
.button_send{
    font-family: roboto;
    font-weight: 500;
    color: black;
    background: white;
    height: 6vh;
    padding: 6px 10px;
    border-radius: 5px;
    max-width: 40%;  
    cursor: pointer;
    margin-left: 5%;
}


.phone{
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 50px;
}

.phone::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}
.hr{
    border: 1px solid lightgrey;
    width: 95%;
    margin: auto;
    margin-bottom: 2vh;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sot_seti{
    background-color: rgba(51, 51, 51, 0.65);
    padding: 10px;
    cursor: pointer;

}
.sot_seti_1{
    background-color: rgba(51, 51, 51, 0.65);
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;

}
li{
    color: white;
    font-family: Roboto;
    transition: all 0.5s linear;
    cursor: pointer;
    margin-bottom: 20px;
}
li:hover{
    color: #63ff00;
}
.p_1{
    font-size: 20px;
    color: white;
    font-family: 'Roboto';
    cursor: pointer;
    transition: all 0.5s linear;
    margin-left: 20px;
    margin-top: 10px;
}
.p_1:hover{
    color: #63ff00;
}
.mini_info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.contac_email_location{
    width: 150%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav{
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.info{
    padding: 20px 80px 10px 60px; 
}
.logo_and_sightex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;
}
.p_2{
    color: white;
    font-family: roboto;
    cursor: text;
    transition: all 0.5s linear;
}
.logo_taffeine{
    height: 30px;
    margin-bottom: 20px;
}


.Map{
    width: 700px;
    height: 300px;
}


