.container {
    padding: 150px 0;
}

.owl-theme {
    margin-bottom: 250px;
}


.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
    text-transform: uppercase;
    color: #272727;
    display: block;
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Inter';
}
