* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none!important;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
  position: relative;
}

.Maps{
  width: 700px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  right: 50px;
  top: 0px;
}

.Mapss{
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-top: -200px;
}

.owl-dots{
  width: 5%;
  bottom: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 50%;

}


.owl-nav{
  width: 100%;
  bottom: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 50%;
  padding-left: 30px;
  padding-right: 30px;

}

.owl-prev{
  width: 60px;
  height: 60px;
  border-radius: 50%!important;
  background-color: rgba(255, 255, 255, 0.1)!important;
  background-repeat: no-repeat!important;
  background-image: url('./assets//imgs/left-union.svg')!important;
  background-size: 100% 100%;
  background-position: center!important;

}

.owl-next{
  width: 60px;
  height: 60px;
  border-radius: 50%!important;
  background-color: hsla(0,0%,100%,.1)!important;
  background-repeat: no-repeat!important;
  background-image: url('./assets//imgs/left-union.svg')!important;
  background-size: 100% 100%;
transform: rotate(180deg);
  background-position: center!important;
}



.owl-nav .owl-prev span{
display: none;  
}
.owl-nav .owl-next span{
  display: none;
}



.owl-theme .owl-dots .owl-dot.active   {
  width: 50px;
  height: 30px;
  border: 2px solid #63ff00;
  border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #63ff00;
  
}

.owl-theme .owl-dots .owl-dot span{
  background-color: rgb(87, 87, 87);
}


.YMaps div{
  width: 0px;
  height: 0px;
}