.card {
  width: 32%;
  background: #f1f1f1;
  border-radius: 4px;
  padding: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.imgbox {
  height: 340px;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
}

.imgbox:hover img {
  transform: scale(1.2);
  transition: all ease-in-out 0.5s;
}

.imgbox:not(:hover) img {
  transform: scale(1);
  transition: all ease-in-out 0.5s;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #272727;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Roboto";
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #525252;
  margin-bottom: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Roboto";
}

.img {
  width: 100%;
  height: 100%;
}
