.card {
    height: 550px;
    padding: 25px;
    background-color: #f1f1f1;
}

.card:hover .img{
    transform: scale(1.2);
    transition: all 0.8s ease-in-out;
}


.card:not(:hover) .img{
    transform: scale(1.0);
    transition: all 0.8s ease-in-out;
}
.imgcard {
    width: 100%;
    margin-bottom: 30px;
    height: 300px;
    overflow: hidden;

}

.img {
    width: 100px;
    height: 300px;
}


.title{
    font-size: 18px;
    font-family: 'Inter';
    margin-bottom: 24px;
}

.content {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 160%;
    color: #646464;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}