.SecEight {
  background: #272727;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.mainTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}

.big {
  width: 100%;
}

.start {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.text {
  padding-top: 15px;
  height: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.8;
}
